// TopNav.scss
.top-nav-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 95%;
  }
  
  .top-nav {
    font-size: 170%;
    background-color: #fff; // Adjust the background color as needed
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Add a shadow for a subtle effect
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; // Adjust the height as needed
  }
  
  li {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333; // Adjust the text color as needed
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .active {
    font-weight: bold; // Style the active link as needed
  }
  