
.questionnaire {
    background-image: url('./bg.jpeg'); // Adjust the path accordingly
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will make sure the content takes at least the full height of the viewport */
  }
  
  .flashcard-container {
    margin-top: 20px; /* Add margin or adjust as needed */
  }

  .btn {
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    margin: 15px 20px;
    color: #a06868;
    border-radius: 3px;
    border: .5px solid #a06868;
    transition-duration: .2s;

  }

  .btn:hover {
    scale: 1.1;
    color: #fff;
    background-color: #a06868;
    box-shadow: 3px 3px 0 0 transparent,
    0 2px 0 0 #a06868;
  }
  