// components/FlashcardWithCalendar/index.scss
@import url("https://cdn.syncfusion.com/ej2/material.css");

.flashcard-with-calendar {
  width: 60vw;
  height: 35vw;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #ffffff;

  &:hover {
    transform: scale(1.01);
  }

  &.show-answer {
    .card-content {
      transform: rotateY(180deg);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;

    .question {
      padding: 16px;
      text-align: center;
      font-size: 16px;
      backface-visibility: hidden;
    }

    .calendar-container {
      width: 100%;
      margin: 20px 0px 20px 60px;
      align-items: center;
    }

    .question {
      color: #a06868;
      font-size: 35px;
    }

    .answer {
      padding: 16px;
      text-align: center;
      font-size: 16px;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }
  }

  .reveal-answer-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #fff;
      color: #3498db;
    }
  }

  .hidden {
    display: none;
  }
}
